.header-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;

  .logo-wrapper {
    max-height: 100%;

    .logo-img {
      height: 50px;
      user-select: none;
    }
  }

  .pages-wrapper {
    display: flex;
    height: 100%;

    .active-page {
      color: #283593;
    }
  }

  .profile-wrapper {
    font-size: 18px;
    display: flex;
    align-items: center;

    .expand-profile-details-button {
      user-select: none;
      cursor: pointer;
    }
  }
}
