<mat-toolbar class="header-wrapper">
  <div class="logo-wrapper">
    <img class="logo-img"
         src="https://miro.medium.com/max/512/0*WNnOKYi4gwFNxXQp.png"
         alt="logo">
  </div>

  <div class="pages-wrapper">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of links"
         [routerLink]="link.route"
         (click)="activeLink = link"
         [active]="activeLink == link"> {{link.name}} </a>
    </nav>
  </div>

  <div class="profile-wrapper">
    <span>{{ fullName }}</span>

    <mat-icon class="expand-profile-details-button"
              *ngIf="loggedIn"
              [matMenuTriggerFor]="profileMenu"
              aria-label="Expand profile">
      arrow_drop_down
    </mat-icon>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item
              (click)="onLogout()">
        Вийти
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
