
.page-loading-shade {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::ng-deep.mat-expansion-panel-header {
  padding: 15px 20px;
  height: auto;
}


.textarea {
  width: 100%;
}

.task {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px;
  width: 70%;
  background-color: #f5f5f5;

  .task-panel {
    margin-bottom: 20px;

    .rating-container {
      margin-right: auto;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
  }

  .task-container {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .task-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .example-container {
        display: flex;
        flex-direction: column;
        width: 40%;
      }
    }
  }
}

.example-list {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
